{
  "recorded_with": "betamax/0.8.0",
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"token_type\":\"bearer\",\"access_token\":\"<AUTH_TOKEN>\"}"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.twitter.com/oauth2/token",
        "headers": {
          "x-twitter-response-tags": "BouncerCompliant",
          "content-type": "application/json;charset=utf-8",
          "x-response-time": "36",
          "x-tsa-request-body-time": "0",
          "x-connection-hash": "816ba2646dd5eef280e607441464371c",
          "content-disposition": "attachment; filename=json.json",
          "x-transaction": "00d69d1300fc7e98",
          "last-modified": "Tue, 01 Nov 2016 22:07:05 GMT",
          "status": "200 OK",
          "ml": "A"
        }
      },
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "method": "POST",
        "uri": "https://api.twitter.com/oauth2/token",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded",
          "Authorization": "<AUTH_TOKEN>"
        }
      },
      "recorded_at": "2016-11-01T22:07:06"
    },
    {
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statuses\":[{\"created_at\":\"Tue Nov 01 22:00:54 +0000 2016\",\"id\":793573557565550596,\"id_str\":\"793573557565550596\",\"text\":\"Mi animal mitol\\u00f3gico favorito es el tren de Renfe llegando en hora.\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"metadata\":{\"iso_language_code\":\"es\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/iphone\\\" rel=\\\"nofollow\\\"\\u003eTwitter for iPhone\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":319230194,\"id_str\":\"319230194\",\"name\":\"Miss Carrusel\",\"screen_name\":\"filof0bica\",\"location\":\"Murcia - Madrid\",\"description\":\"Yo te agobio con canciones.\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":709,\"friends_count\":963,\"listed_count\":24,\"created_at\":\"Fri Jun 17 19:34:27 +0000 2011\",\"favourites_count\":12733,\"utc_offset\":0,\"time_zone\":\"London\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":13601,\"lang\":\"es\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"030303\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/422993094\\/show_live.jpg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/422993094\\/show_live.jpg\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/661980555312029696\\/XZRbdATC_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/661980555312029696\\/XZRbdATC_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/319230194\\/1429442486\",\"profile_link_color\":\"FF3300\",\"profile_sidebar_border_color\":\"86A4A6\",\"profile_sidebar_fill_color\":\"A0C5C7\",\"profile_text_color\":\"0A0A0A\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null,\"translator_type\":\"none\"},\"geo\":null,\"coordinates\":null,\"place\":{\"id\":\"15d0993951680016\",\"url\":\"https:\\/\\/api.twitter.com\\/1.1\\/geo\\/id\\/15d0993951680016.json\",\"place_type\":\"city\",\"name\":\"Tembleque\",\"full_name\":\"Tembleque, Espa\\u00f1a\",\"country_code\":\"ES\",\"country\":\"Spain\",\"contained_within\":[],\"bounding_box\":{\"type\":\"Polygon\",\"coordinates\":[[[-3.6757043,39.579531],[-3.4039764,39.579531],[-3.4039764,39.7452507],[-3.6757043,39.7452507]]]},\"attributes\":{}},\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":2,\"favorited\":false,\"retweeted\":false,\"lang\":\"es\"},{\"created_at\":\"Tue Nov 01 21:57:57 +0000 2016\",\"id\":793572815068889088,\"id_str\":\"793572815068889088\",\"text\":\"RT @Renfe: @calisixd los abes los konstrulle el hestado, renfe solo pone trenes en la bia, rekuer2 a tu hamijo ;-))\",\"truncated\":false,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"Renfe\",\"name\":\"Renfe\",\"id\":104434158,\"id_str\":\"104434158\",\"indices\":[3,9]},{\"screen_name\":\"calisixd\",\"name\":\"#JeSuisGroleo\",\"id\":1246837550,\"id_str\":\"1246837550\",\"indices\":[11,20]}],\"urls\":[]},\"metadata\":{\"iso_language_code\":\"es\",\"result_type\":\"recent\"},\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\/a\\u003e\",\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_t[...]
